body {
  background-color: black;
}

h1 {
  color: aqua;
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}